@import '~bootstrap/scss/bootstrap';

body {
  background-color: teal;
}

.card-control {
  display: flex;
  justify-content: space-between;
  h2 {
    margin-bottom: 0;
  }
}

.actions {
  .btn-warning {
    margin-right: 5px;
  }
}
.no-task {
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
}
